.politica-container {
  max-width: 65rem;
  margin: 5rem auto;
  padding: 2rem;
  color: white;
}

.titulo-seccion {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: white;
}

.politica-bloque {
  background-color: rgba(255, 255, 255, 0.06);
  border-left: 6px solid #6118ed;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
}

.subtitulo {
  font-size: 1.5rem;
  color: #d6b4ff;
  margin-bottom: 1rem;
  font-weight: bold;
}

.politica-bloque p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f0f0f0;
}
